.App {
  text-align: center;
  background-color: #2F2D47;
  font-size: calc(10px + 2vmin);
  color: #D7DEDC;
  min-height: 100vh;
}

@media only screen and (min-width: 800px) {
  img {
    width: 400px;
    height: 400px;
  }

  p {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  img {
    width: 100%;
    height: auto;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.App-link:hover {
  color: #D7DEDC;
}

.Welcome {
  color: #EA526F;
}